<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gbq.diary">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.main.widget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.widget.WebActivity"
            android:label="@string/title_web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.okami.widget.OkamiActivity"
            android:label="@string/title_okami"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.okami.widget.OkGoActivity"
            android:label="@string/title_okgo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.okami.widget.OkGoJsonActivity"
            android:label="@string/title_okgo_json"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.okami.widget.OkGoDownloadActivity"
            android:label="@string/title_okgo_download"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.okami.widget.OkGoUploadActivity"
            android:label="@string/title_okgo_upload"
            android:screenOrientation="portrait" />

        <!--常用工具-->
        <activity
            android:name=".ui.tools.widget.ToolsListActivity"
            android:label="@string/title_tools"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxJavaActivity"
            android:label="@string/title_rxjava2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxBaseActivity"
            android:label="@string/title_rxbase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxSchedulersActivity"
            android:label="@string/title_rxschedulers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxCreateActivity"
            android:label="@string/title_rxcreate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxMapActivity"
            android:label="@string/title_rxmap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxFilterActivity"
            android:label="@string/title_rxfilter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxMergeActivity"
            android:label="@string/title_rxmerge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxTimerActivity"
            android:label="@string/title_rxtimer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxOtherActivity"
            android:label="@string/title_rxother"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.widget.RxDoActivity"
            android:label="@string/title_rxdo"
            android:screenOrientation="portrait" />
    </application>

</manifest>